   /* different browsers vary in how much margin or 
padding they apply to the root level document,
so we force everyone to have the same amount. */
    body
    {
        background-color: #8FE782;
        margin: 0;
        padding: 0;
    }
    
    /* It's not typical to include a rule for DIV tags.
In this case, we have a very limited example, so
specifying a rule for the DIV tag is expedient. */
    div
    {
        position: absolute;
        margin: 0;
        padding: 0;
        background-color: #8FE782;
    }
    
    /* There are two different score indicators, so the 
rule that affects their font appearance will be
applied as a class. */
    .score
    {
        top: 3%;
        color: #8FE782;
        background-color: transparent;
        font-family: fixedsys, Courier, "Courier New" , fixed;
        font-weight: bold;
        font-size: 3em;
        width:1em;
        text-align:center;
    }
    
    /* and then the individual score counters are positioned
seperately */
    #score1
    {
        left: 35%;
    }
    
    #score2
    {
        right: 35%;
    }
    
    /* This is kind of the "background" of the game, as well
as a container that can be used to reposition it
essentially anywhere. */
    #board
    {
        top: 1%;
        left: 0px;
        bottom: 1%;
        right:0px;
        width: 100%;
        height: 98%;
        /*border-top: solid 10px #00ff00;
        border-bottom: solid 10px #00ff00;*/
        /*using the body background set to #0f0 for the borders so that they can be set as a percentage*/
        background-color: #333333;
    }
    
    /* This is just a visual reference. It doesn't actually 
affect the game play at all. */
    #divider
    {
        top: 0px;
        left: 49.65%;
        width: .7%;
        height: 100%;
    }
    
    /* This is kind of cheap, but sometimes you just want something
done. This is all that suffices for a "title" screen in the
game. It gives the user a chance to acclimate to the layout
and start on their own time. */
    button.start
    {
        position: absolute;
        top: 20%;
        width: 10em;
        height: 3em;
        font-family: fixedsys, Courier, "Courier New" , fixed;
        font-size:1em;
        color: #8FE782;
        background: #222;
        border:3px #8FE782 solid;
        border-radius: 10px;
        cursor: pointer;
    }
    
    button#start-left
    {
      left:20%;
    }
    
    button#start-right
    {
      right:20%;
    }
    
    /* Never forget that you need to give quite a bit of feedback
to the user. This setups the block of text that will tell
the user what is going on. */
    #status
    {
        top: 20%;
        left: 10%;
        width: 80%;
        padding: 1% 0;
        text-align: center;
        background-color: #333;
        display: none;
    }
    
    /*scale down the button text on smaller screens*/
    @media screen and (max-width:768px) {
      button.start {
        font-size: 8px;
      }
    }